<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>personal project</title>
        <link rel="shortcut icon" href="assets/img/logo.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
        <div id="root">
            <!-- header -->
            <header id="site_header">
                <!-- header top -->
                <navbar class="header_top d_flex ebony_clay">
                    <i class="fas fa-clock"><span>Open Hours: Mon - Sat - 9:00 - 18:00</span></i>
                    <div class="contacts"><a href="" v-for="contact in contacts"><i :class="contact.font"></i>
                        <span>{{contact.text}}</span></i></a>
                    </div>
                </navbar>
                <!-- header menu -->
                <div class="bg_image">
                    <div class="big_container">
                        <div class="header_menu d_flex">
                            <img :src="logo" alt="">
                            <div class="links">
                                <a href="" v-for="link in menu"><span>{{link.name}}</span></a>
                                <a href=""><i class="far fa-user"></i></a>
                                <a href="" class="btn elm">GET IN TOUCH</a>
                            </div>
                        </div>
                    </div>
                    <!-- header intro -->
                    <div class="big_container">
                        <div class="header_intro d_flex">
                            <div class="intro">
                                <p><span class="atoll">HUMAN RESOURCES</span></p>
                                <h1>Get More Productivity</h1>
                                <p class="silver_sand">Planning, recruitment and selection process and performance evaluation of employees</p>
                                <a href="" class="btn elm white">GET IN TOUCH</a><a href="" class="btn white">READ MORE</a>
                            </div>
                        </div>
                     </div>  
                </div>
            </header>
            <!-- main -->
            <main id="site_content">
                <!-- featured -->
                <section class="featured gray_nurse d_flex">
                    <div class="card d_flex" v-for="card in cards">
                        <img :src="card.img" alt="">
                        <h3>{{card.title}}</h3>
                        <p>{{card.paragraph}}</p>
                    </div>
                </section>
                <!-- company -->
                <section class="company d_flex">
                    <div class="company_info">
                        <div class="company_text d_flex">
                            <span class="atoll about">ABOUT THE NETWORK</span>
                            <h2><span class="atoll bg_letters">The </span>Company</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab soluta, temporibus porro consequuntur consectetur error.</p>
                        </div>
                        <div class="company_cards d_flex">
                            <div class="mini_card" v-for="company in companies">
                                <span class="number">{{company.number}}</span>
                                <h3>{{company.title}}</h3>
                                <p>{{company.description}}</p>
                            </div>
                        </div>
                        <div class="company_btn">
                            <a href=""class="btn elm white">GET IN TOUCH</a>
                            <a href=""class="btn atoll">READ MORE</a>
                        </div>
                    </div>
                    <div class="company_bg">
                    </div>
                </section>
            </main>
            <!-- footer -->
            <footer id="site_footer">
                <div class="big_container d_flex">
                    <div class="form d_flex">
                        <span class="send atoll">SEND A MESSAGE</span>
                        <h2 class="white">Get in <span class="bg_letters_black">touch</span></h2>
                        <p>We will respond to your message as soon as possible</p>
                        <div class="form_group">
                            <input type="text" name="name" placeholder="Name">
                            <input type="email" name="email" placeholder="Email"><br>
                            <input type="phone" name="phone" placeholder="Phone">
                            <select name="more info" id="more info">
                                <option value="australia">More info</option>
                            </select><br>
                            <textarea name="message" id="" cols="82" rows="10" placeholder="Message"></textarea><br>
                            <a href=""class="btn elm white">SEND</a>
                        </div>
                    </div>
                    <div class="other_info">
                        <h3 class="white">Example Inc.</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p>Eveniet unde id fugiat ad! Corrupti rem, temporibus neque asperiores ex repellat dignissimos eaque.</p>
                        <ul>
                            <li v-for="contact in otherContacts"><i :class="contact.font"></i>{{contact.text}}</li>
                            <li><a href=""class="btn white">VIEW MAP</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
        
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="assets/js/main.js" charset="utf-8"></script>
    </body>
</html>