* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    min-width: 1400px;
}
/* utility */
.d_flex {
    display: flex;
}
.big_container{
    width: 80%;
    margin: auto;
}
#site_header {
    height: 500px;
    background-color: yellow;
}
#site_content {
    height: 2000px;
    background-color: green;
}
#site_footer {
    height: 650px;
    background:red;
}
/* color cube */
.woodsmoke {
    color:#121117;
}
.white {
    color: #ffffff;
}
.abbey {
    color: #505051;
}
.silver_sand {
    color: #babdbe;
}
.blue_lagoon {
    color: #038483;
}
.fountain_blue {
    color: #51bdbc;
}
/* median cute */
.shark {
    color: #202427;
}

.gray_nurse {
    color: #e4eae6;
}

.gothic {
    color: #6c9b9c;
}

.smalt_blue {
    color: #5c828c;
}

.bazaar {
    color: #947474;
}
/* material design */
.elm {
    color: #1a948f;
}

.shuttle_gray {
    color: #5e6063;
}

.atoll {
    color: #097a7c;
}

.ebony_clay {
    color: #24343c;
}

.bermuda {
    color: #7ed5d5;
}
/* header */
.header_top {
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
a {
    text-decoration: none;
    padding: 8px;
}
.header_top >i > span, .contacts > a > i > span {
    margin-left: 5px;
}

